html, body {
    height: 100%;
}

body {
    background-color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;


    flex: 1 0 auto;
    background-color: white;
}

.footer {
    height: 70px;
}
